{% extends "layout.html" %}

{% block content %}
<div class="container">
<h1 class="mt-5">About Public Notes</h1>
<p class="lead">Public Notes is a simple note-taking application designed to help you organize and manage your notes
    with ease. Here's what you can expect from Public Notes:</p>
<ol>
    <li><strong>Effortless Note Creation:</strong> With Public Notes, you can quickly create new notes and jot down your
        thoughts or important information without any hassle.</li>
    <li><strong>Secure and Private:</strong> Your notes are securely stored and accessible only to you. We prioritize
        the privacy and security of your data.</li>
    <li><strong>User-Friendly Interface:</strong> Our intuitive user interface makes it easy to navigate through your
        notes and perform actions such as editing or deleting them.</li>
    <li><strong>Minimalist Design:</strong> Public Notes features a clean and minimalist design, focusing on the
        essential functionality of note-taking without unnecessary distractions.</li>
</ol>
<p>Public Notes aims to provide a streamlined note-taking experience, allowing you to focus on what matters
    most—capturing your thoughts and ideas. Get started with Public Notes today and organize your notes effortlessly!
</p></div>
{% endblock content %}